body{
    margin: 0;
}

.section-one{
    background-color: lightskyblue;
    padding: 10px;
    margin: 0;

}

.header{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.website{
    display: flex;
    justify-content: space-between;
}

.website-main{
    width: 300px;
}

.main-image{
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-two{
    background-color: lightpink;
    margin: 0;
    padding: 10px;
}

h2{
    text-align: center;
}
.image-container{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 200px;
    height: auto;
}

.image{
    border-style: solid;
    border-color: blueviolet;
}

.section-three{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    display: flex;
    flex-direction: column;
    width: 700px;
    padding: 40px;
}

.quoter{
    align-self: flex-end;
}

.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.actionbox{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
}

.footer{
    display: flex;
    justify-content: center;
}