

.top{
    background-color: lightskyblue;
    height: 300px;
    max-width: 1200px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.right-links{
    display: flex;
    gap: 20px;
    color: white;
}

.link-left{
    font-weight: bold;
    color: white;
}

p{
    width: 300px;
    font-size: 14px;
}

.section.first{
    display: flex;
    justify-content: space-between;
}

.section.second{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 300px;
    max-width: 1200px;
}

.section.third{
    display: flex;
    background-color: lightgray;
    height: 300px;
    max-width: 1200px;
}

.section.fourth{
    display: flex;
    justify-content: center;
    height: 300px;
    max-width: 1200px;
}

.action-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-style: dotted;
    width: 500px;
    height:100px;
    margin: 15px;
    padding: 15px;
    max-width: 1200px;
}






